/* HTML5 form validation for license number */
input:invalid {
    box-shadow: red 0px 0px 5px 1px;
    /* border: 1px solid red; */
}

.woocommerce form .form-row.woocommerce-validated input.input-text:invalid {
    border: 1px solid red;
}
